<div class="container">
    <table class="table table-striped table-responsive">
        <thead class="table-dark">
          <tr>
            <th scope="col">Puerto</th>
            <th scope="col">Opción</th>
            <th scope="col">Usuario</th>
            <th scope="col">Cliente</th>
            <th scope="col">Dirección</th>
            <th scope="col">Referencia</th>
            <th scope="col">Plan</th>
            <th scope="col">Serie Ont</th>
            <th scope="col">Caja</th>
            <th scope="col">Direccion IP</th>
            <th scope="col">Fecha-Hora</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let activations of serviceList | slice:since:to">
            <td>{{activations.id_cliente}}</td>
            <td>{{activations.opcion_cliente}}</td>
            <td>{{activations.usuario_cliente}}</td>
            <td>{{activations.nombre_clientepersona}}</td>
            <td>{{activations.direccion_cliente}}</td>
            <td>{{activations.referencia_cliente}}</td>
            <td>{{activations.nombre_planes}} Megas</td>
            <td>{{activations.serie_ont}}</td>
            <td>{{activations.nombre_cajanivel2}}</td>
            <td>{{activations.direccionip_cliente}}</td>
            <td>{{activations.fecha_instalacion_cliente}}</td>
            <td><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="../../../assets/icons/eye-solid.svg" width="30" height="24" (click)="serviceDetails = activations"></button>
              <button type="button" class="btn" *ngIf="activations.opcion_cliente == 'crear' || activations.opcion_cliente == 'editar'" (click)="getActivationsByService(activations.id)" data-bs-toggle="modal" data-bs-target="#alertChangeState"><img src="../../../assets/icons/check-solid.svg" alt="Crear" width="30" height="24"></button>
              <button type="button" class="btn" *ngIf="activations.opcion_cliente == 'eliminar'" (click)="getActivationsByService(activations.id)" data-bs-toggle="modal" data-bs-target="#alertDeletUser"><img src="../../../assets/icons/trash-solid.svg" alt="" width="30" height="24"></button>
              <button type="button" class="btn" (mouseup)="copyComands(activations.comando_copiar_cliente)" [cdkCopyToClipboard]="comandoCopy" ><img src="../../../assets/icons/copy-regular.svg" width="30" height="24"></button>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [length]="serviceList.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              (page)="changePage($event)">
      </mat-paginator>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title col-11 text-center" id="exampleModalLabel">Detalles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
                <td><b>Puerto: </b> {{serviceDetails.id_cliente}}</td>
            </tr>
            <tr>
              <td><b>Opcion: </b> {{serviceDetails.opcion_cliente}}</td>
            </tr>
            <tr>
              <td><b>Usuario: </b> {{serviceDetails.usuario_cliente}}</td>
            </tr>
            <tr>
              <td><b>Cliente: </b> {{serviceDetails.nombre_clientepersona}}</td>
            </tr>
            <tr>
              <td><b>Direccion: </b> {{serviceDetails.direccion_cliente}}</td>
            </tr>
            <tr>
              <td><b>Referencia: </b> {{serviceDetails.referencia_cliente}}</td>
            </tr>
            <tr>
              <td><b>Latitud: </b> {{serviceDetails.latitud_cliente}}</td>
            </tr>
            <tr>
              <td><b>Longitud: </b> {{serviceDetails.longitud_cliente}}</td>
            </tr>
            <tr>
              <td><b>Planes: </b> {{serviceDetails.nombre_planes}} Megas</td>
            </tr>
            <tr>
              <td><b>Serie ONT: </b> {{serviceDetails.serie_ont}}</td>
            </tr>
            <tr>
              <td><b>Nombre Caja Nivel-2: </b> {{serviceDetails.nombre_cajanivel2}}</td>
            </tr>
            <tr>
              <td><b>Direccion IP: </b> {{serviceDetails.direccionip_cliente}}</td>
            </tr>
            <tr>
              <td><b>Fecha: </b> {{serviceDetails.fecha_instalacion_cliente}}</td>
            </tr>
            <tr>
              <td><b>Estado: </b> {{serviceDetails.estado_cliente}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal de alerta para Eliminación-->
<div class="modal fade" id="alertDeletUser" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"
  aria-labelledby="alertDeletUser" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title col-11 text-center" id="exampleModalLabel">Confirmación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <h3>Esta acción, borrará todos los datos relacionados con el Cliente: <b>{{serviceDetails.nombre_clientepersona}}</b>.</h3>
          <h4>Por favor verifique que ha modificado la dependencia de este dato en:</h4>
          <h4><b>Servicios</b></h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="deleteService(serviceDetails.id)">Eliminar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAL DE ACTIVACION DE ESTADO -->
<div class="modal fade" id="alertChangeState" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"
  aria-labelledby="alertChangeState" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title col-11 text-center" id="exampleModalLabel">Activación</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card">
          <h3>Seguro que quieres realizar esta acción, cambiará el estado de: <b>{{serviceDetails.nombre_clientepersona}}</b>.</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" (click)="changeState()">Cambiar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>

