<!-- NEGACION -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><img src="../assets/icons/fiberhomenegro.png" alt="Logo" width="240" height="70" class="d-inline-block align-text-top"></a><span><b>|</b></span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ubicación
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/paises" routerLinkActive="/paises">Países</a></li>
              <li><a class="dropdown-item" routerLink="/provincias" routerLinkActive="/provincias">Provincias</a></li>
              <li><a class="dropdown-item" routerLink="/ciudades" routerLinkActive="/ciudades">Ciudades</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-success" id="download" type="submit"><span><b>Descargar Excel</b></span></button>
        <a class="navbar-brand" href="#">
          <img src="../../../assets/icons/right-to-bracket-solid.svg" id="incon-excel" alt="excel-logo" width="50" height="30" class="d-inline-block align-text-top"></a>  
      </form>
    </div>
  </nav>

<div class="container">
    <table class="table table-responsive table-striped">
        <thead class="table-dark">
            <tr>
                <th scope="col">Provincia</th>
                <th scope="col">País</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let province of provincesList | slice:since:to">
                <td>{{province.nombre_provincia}}</td>
                <td>{{province.nombre_pais}}</td>
                <td><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><img
                            src="../../../assets/icons/eye-solid.svg" width="30" height="24" (click)="getProvinceByName(province.nombre_provincia)"></button>

                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editForm"><img src="../../../assets/icons/pen-to-square-solid.svg" alt="Editar" width="30" height="24" (click)="getProvinceByEdit(province.nombre_provincia)"></button>

                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#alertDeletProvince" (click)="getProvinceByName(province.nombre_provincia)"><img
                        src="../../../assets/icons/trash-solid.svg" alt="Eliminar" width="30" height="24"></button>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]="provincesList.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              (page)="changePage($event)">
      </mat-paginator>
    <div class="actions">
        <div class="card">
            <button type="button-submit" class="btn" data-bs-toggle="modal" data-bs-target="#createCitiesForm"><img
                    src="../../../assets/icons/plus-solid.svg" alt="Agregar" width="30" height="24"></button>
        </div>
    </div>
</div>

<!-- DETALLES -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-11 text-center" id="exampleModalLabel">Detalles</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><b>Id de la Provincia: </b>{{provinceDetail.id_provincia}}</td>
                        </tr>
                        <tr>
                            <td><b>Provincia</b>{{provinceDetail.nombre_provincia}}</td>
                        </tr>
                        <tr>
                            <td><b>Id País: </b>{{provinceDetail.id_pais}}</td>
                        </tr>
                        <tr>
                            <td><b>País: </b>{{provinceDetail.nombre_pais}}</td>
                        </tr>
                        <tr>
                            <td><b>Estado: </b>{{provinceDetail.estado_provincia}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal de alerta para Eliminación-->
<div class="modal fade" id="alertDeletProvince" tabindex="-1" aria-labelledby="alertDeleted" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title col-11 text-center" id="exampleModalLabel">Confirmación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                  <h3>Esta acción, borrará todos los datos relacionados con <b>{{provinceDetail.nombre_provincia}}</b>.</h3>
                  <h4>Por favor verifique que ha modificado la dependencia de este dato en:</h4>
                  <h4><b>Ciudad</b></h4>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-danger" (click)="deleted(provinceDetail.id_provincia)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
  </div>

<!-- Modal de alertta para Edicion-->
<div class="modal fade" id="alertEditionProvince" tabindex="-2" aria-labelledby="alertEditionProvince" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title col-11 text-center" id="exampleModalLabel">Confirmación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                  <h3>Estas seguro que quieres editar la información de <b>{{provinceDetail.nombre_provincia}}</b>.</h3>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-warning" (click)="editProvince(provinceDetail)">Editar</button>
                </div>
            </div>
        </div>
    </div>
  </div>

<!-- EDITAR DATOS DE LA PROVINCIA -->
<div class="modal" id="editForm" aria-labelledby="editForm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Información</h5>
            </div>
            <div class="modal-body">
                <form action="">
                        <div class="form-group">
                            <label class="form-label">País: </label>
                            <select class="form-select" aria-label="Default select example" [(ngModel)]="provinceDetail.id_pais"  [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let pais of paisList" value={{pais.id_pais}}>{{pais.nombre_pais}}</option>
                            </select>
                        </div>
                    <br>
                    <div class="form-group">
                        <label class="form-label">Nombre de la Provincia: </label>
                            <input type="text" class="form-control" [(ngModel)]="provinceDetail.nombre_provincia" value={{provinceDetail.nombre_provincia}} [ngModelOptions]="{standalone: true}">
                    </div>
                <br>
                    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#alertEditionProvince">Editar</button>
                </form>
            </div>
        </div>
    </div>
  </div>

<!-- CREAR UNA NUEVA PROVINCIA -->

<div class="modal fade" id="createCitiesForm" tabindex="-1" aria-labelledby="createCitiesForm" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-11 text-center" id="exampleModalLabel">Agregar Nuevos Datos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                        <div class="form-group">
                            <label class="form-label">País: </label>
                            <select class="form-select" aria-label="Default select example" [(ngModel)]="province.id_pais"  [ngModelOptions]="{standalone: true}">
                                <option *ngFor="let pais of paisList" value={{pais.id_pais}}>{{pais.nombre_pais}}</option>
                            </select>
                        </div>
                    <br>
                    <div class="form-group">
                        <label class="form-label">Nombre de la Provincia: </label>
                            <input type="text" class="form-control" [(ngModel)]="province.nombre_provincia" value={{province.nombre_provincia}} [ngModelOptions]="{standalone: true}">
                    </div>
                <br>
                    <button class="btn btn-primary" (click)="save(province)">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</div>