<div class="container">
  <div class="row">
    <div class="col">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Buscar..." (keyup)="onKey($event)" [(ngModel)]="textoBuscar">
        </div>
    </div>
</div>
    <table class="table table-striped table-responsive">
        <thead class="table-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let plan of plansList | slice:since:to">
            <td>{{plan.nombre_planes}} MEGAS</td>
            <td>
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="getPlanByName(plan.nombre_planes)"><img src="../../../assets/icons/eye-solid.svg" width="30" height="24"></button>

              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editForm" (click)="getPlansByEdit(plan.nombre_planes); getPlanByName(plan.nombre_planes)"><img src="../../../assets/icons/pen-to-square-solid.svg" alt="Editar" width="30" height="24"></button>

              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#alertDeletPlans" (click)="getPlanByName(plan.nombre_planes)"><img src="../../../assets/icons/trash-solid.svg" alt="Eliminar" width="30" height="24"></button>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator [length]="plansList.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              (page)="changePage($event)">
      </mat-paginator>
      <div class="actions">
        <div class="card">
            <button type="button-submit" class="btn" data-bs-toggle="modal" data-bs-target="#createCitiesForm"><img
                    src="../../../assets/icons/plus-solid.svg" alt="Agregar" width="30" height="24"></button>
        </div>
    </div>
</div>

<div class="modal" id="editForm" aria-labelledby="editForm" tabindex="-1" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Editar Información</h5>
          </div>
          <div class="modal-body">
              <form action="">
                  <div class="form-group">
                      <label class="form-label">Plan: </label>
                      <input type="text" class="form-control" [(ngModel)]="plansDetail.nombre_planes" value={{plansDetail.nombre_planes}} [ngModelOptions]="{standalone: true}">
                  </div>
                  <br>
                  <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#alertEditionPlan">Editar</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              </form>
          </div>
      </div>
  </div>
</div>

<!-- MOSTRAR DETALLES DE LA TABLA -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title col-11 text-center" id="exampleModalLabel">Detalles</h5>
      </div>
      <div class="modal-body">
        <table class="table">
          <tbody>
            <tr>
              <td>Id Plan: {{plansDetail.id_planes}}</td>
            </tr>
            <tr>
              <td>Plan: {{plansDetail.nombre_planes}}</td>
            </tr>
            <tr>
              <td>Id Ciudad: {{plansDetail.id_ciudad}}</td>
            </tr>
            <tr>
              <td>Estado: {{plansDetail.estado_planes}}</td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal de alerta para Eliminación-->
<div class="modal fade" id="alertDeletPlans" tabindex="-1" aria-labelledby="alertDeleted" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title col-11 text-center" id="exampleModalLabel">Confirmación</h1>
          </div>
          <div class="modal-body">
              <div class="card">
                <h3>Esta acción, borrará todos los datos relacionados con el Plan de <b>{{plansDetail.nombre_planes}} MEGAS</b>.</h3>
                <h4>Por favor verifique que ha modificado la dependencia de este dato en:</h4>
                <h4><b>Servicios</b></h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleted(plansDetail.id_planes)">Eliminar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              </div>
          </div>
      </div>
  </div>
</div>

  <!-- Modal de alertta para Edicion-->
  <div class="modal fade" id="alertEditionPlan" tabindex="-2" aria-labelledby="alertEditionModel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title col-11 text-center" id="exampleModalLabel">Confirmación</h1>
            </div>
            <div class="modal-body">
                <div class="card">
                  <h3>Estas seguro que quieres editar la información del Plan de <b>{{plansDetail.nombre_planes}} MEGAS</b>.</h3>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning" (click)="edit(plansDetail)">Editar</button>
                  <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
              data-bs-target="#editForm">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
  </div>

<!-- FORMULARIOS DE CREACION DE DATOS -->
<div class="modal fade" id="createCitiesForm" tabindex="-1" aria-labelledby="createCitiesForm" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title col-11 text-center" id="exampleModalLabel">Agregar Nuevos Datos</h5>
          </div>
          <div class="modal-body">
              <form action="">
                  <div class="form-group">
                      <label for="disabledTextInput" class="form-label">Nombre del Plan:</label>
                      <input type="text" id="disabledTextInput" class="form-control" [(ngModel)]="plans.nombre_planes" [ngModelOptions]="{standalone: true}">
                  </div>
                  <br>
                  <button (click)="save(plans)" class="btn btn-primary">Agregar</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              </form>
          </div>
      </div>
  </div>