nav {
    padding: 15px;
}

button#download {
    background: var(--second-color-ugly);
    background: linear-gradient(0deg, var(--light-color) 0%, var(--second-color-ugly) 100%);
    width: 160px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
}

button#download span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

button#download:before,
button#download:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: var(--primary-color);
    transition: all 0.3s ease;
}

button#download:before {
    height: 0%;
    width: 2px;
}

button#download:after {
    width: 0%;
    height: 2px;
}

button#download:hover {
    background: transparent;
    box-shadow: none;
}

button#download:hover:before {
    height: 100%;
}

button#download:hover:after {
    width: 100%;
}

button#download span:hover {
    color: var(--black-not-black);
}

button#download span:before,
button#download span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: var(--primary-color);
    transition: all 0.3s ease;
}

button#download span:before {
    width: 2px;
    height: 0%;
}

button#download span:after {
    width: 0%;
    height: 2px;
}

button#download span:hover:before {
    height: 100%;
}

button#download span:hover:after {
    width: 100%;
}

nav a {
    color: var(--black-not-black);
}

nav a:hover{
    font-weight: bold;
    transition: 0.1s;
    background-color: #36343913;
    border-radius: 3px;
}

div#userInfo{
    font-family: Sora;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #424242;
    color: whitesmoke;
}