<div class="container">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar..." (keyup)="onKey($event)" [(ngModel)]="textoBuscar">
            </div>
        </div>
    </div>
    <table class="table table-striped table-responsive">
        <thead class="table-dark">
            <tr>
                <th scope="col">VLan</th>
                <th scope="col"># OLT VLan</th>
                <th scope="col">Tarjeta OLT</th>
                <th scope="col">Puerto OLT</th>
                <th scope="col">IP Inicial</th>
                <th scope="col">IP FInal</th>
                <th scope="col">Mascara</th>
                <th scope="col">Gateway</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let vlan of VlansList | slice:since:to">
                <td>{{vlan.nombre_vlan}}</td>
                <td>{{vlan.numeroolt_vlan}}</td>
                <td>{{vlan.tarjetaolt_vlan}}</td>
                <td>{{vlan.puertoolt_vlan}}</td>
                <td>{{vlan.ipinicio_vlan}}</td>
                <td>{{vlan.ipfin_vlan}}</td>
                <td>{{vlan.mascara_vlan}}</td>
                <td>{{vlan.gateway_vlan}}</td>
                <td>{{vlan.estado_vlan}}</td>
                <td><button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"><img
                            src="../../../assets/icons/eye-solid.svg" width="30" height="24" (click)="getVlanByName(vlan.nombre_vlan)"></button>
<!-- 
                            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#editForm"><img src="../../../assets/icons/pen-to-square-solid.svg" alt="Editar" width="30" height="24" (click)="getVlanByName(vlan.nombre_vlan)"></button> -->
                    
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#alertDeletVlans" (click)="getVlanByName(vlan.nombre_vlan)"><img src="../../../assets/icons/trash-solid.svg" alt="Eliminar" width="30" height="24"></button>
                        </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator [length]="VlansList.length"
              [pageSize]="pageSize"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page"
              (page)="changePage($event)">
      </mat-paginator>
    <div class="actions">
        <div class="card">
            <button type="button-submit" class="btn" data-bs-toggle="modal" data-bs-target="#createCitiesForm"><img
                    src="../../../assets/icons/plus-solid.svg" alt="Agregar" width="30" height="24"></button>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-11 text-center" id="exampleModalLabel">Detalles</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Id Vlan: {{VlanDetails.id_vlan}}</td>
                        </tr>
                        <tr>
                            <td>VLan: {{VlanDetails.nombre_vlan}}</td>
                        </tr>
                        <tr>
                            <td># OLT VLan: {{VlanDetails.numeroolt_vlan}}</td>
                        </tr>
                        <tr>
                            <td>Tarjeta OLT: {{VlanDetails.tarjetaolt_vlan}}</td>
                        </tr>
                        <tr>
                            <td>Puerto OLT: {{VlanDetails.puertoolt_vlan}}</td>
                        </tr>
                        <tr>
                            <td>IP Inicial: {{VlanDetails.ipinicio_vlan}}</td>
                        </tr>
                        <tr>
                            <td>IP Final: {{VlanDetails.ipfin_vlan}}</td>
                        </tr>
                        <tr>
                            <td>Mascara: {{VlanDetails.mascara_vlan}}</td>
                        </tr>
                        <tr>
                            <td>Gateway: {{VlanDetails.gateway_vlan}}</td>
                        </tr>
                        <tr>
                            <td>Id Ciudad: {{VlanDetails.id_ciudad}}</td>
                        </tr>
                        <tr>
                            <td>Ciudad: {{VlanDetails.nombre_ciudad}}</td>
                        </tr>
                        <tr>
                            <td>Estado: {{VlanDetails.estado_vlan}}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal de alerta para Eliminación-->
<div class="modal fade" id="alertDeletVlans" tabindex="-1" aria-labelledby="alertDeleted" aria-hidden="true" bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title col-11 text-center" id="exampleModalLabel">Confirmación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                  <h3>Esta acción, borrará todos los datos relacionados con <b>{{VlanDetails.nombre_vlan}}</b>.</h3>
                  <h4>Por favor verifique que ha modificado la dependencia de este dato en:</h4>
                  <h4><b>Caja Nivel-1</b></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="deleted(VlanDetails.id_vlan)">Eliminar</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
  </div>

<!-- Modal de alertta para Edicion-->
<!-- <div class="modal fade" id="alertEditionVlans" tabindex="-2" aria-labelledby="alertEditionVlans" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title col-11 text-center" id="exampleModalLabel">Confirmación</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                  <h3>Estas seguro que quieres editar la información de <b>{{VlanDetails.nombre_vlan}}</b>.</h3>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-warning" (click)="(VlanDetails)">Editar</button>
                </div>
            </div>
        </div>
    </div>
  </div> -->

<!-- FORMULARIO DE EDICION  -->
<!-- <div class="modal" id="editForm" aria-labelledby="editForm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Información</h5>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label">Nombre Vlan:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.nombre_vlan"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label"># Vlan:</label>
                        <input type="text" [(ngModel)]="vlan.numerovlan_vlan"
                            class="form-control" placeholder="11"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label"># Olt:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.numeroolt_vlan"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label">Tarjeta Olt:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.tarjetaolt_vlan"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label">Puerto Olt:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.puertoolt_vlan"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label">Ip Inicio:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.ipinicio_vlan"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label">Ip Final:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.ipfin_vlan"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label">Máscara:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.mascara_vlan"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label">Gateway:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.gateway_vlan"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <button data-bs-toggle="modal" data-bs-target="#alertEditionModel" class="btn btn-primary">Agregar</button>
                </form>
            </div>
        </div>
    </div>
  </div> -->

<!-- MODAL PARA CREACION DE UNA NUEVA VLAN -->
<div class="modal fade" id="createCitiesForm" tabindex="-1" aria-labelledby="createCitiesForm" aria-hidden="true" bs-keyboard="false" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title col-11 text-center" id="exampleModalLabel">Agregar Nuevos Datos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label">Nombre Vlan:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.nombre_vlan"
                        [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label"># Vlan:</label>
                        <input type="text" [(ngModel)]="vlan.numerovlan_vlan"
                            class="form-control" placeholder="11"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label"># Olt:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.numeroolt_vlan"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label">Tarjeta Olt:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.tarjetaolt_vlan"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label">Puerto Olt:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.puertoolt_vlan"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label">Ip Inicio:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.ipinicio_vlan"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label">Ip Final:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.ipfin_vlan"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label">Máscara:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.mascara_vlan"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="disabledTextInput" class="form-label">Gateway:</label>
                        <input type="text" class="form-control" [(ngModel)]="vlan.gateway_vlan"  [ngModelOptions]="{standalone: true}">
                    </div>
                    <br>
                    <button (click)="save(vlan)" class="btn btn-primary">Agregar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>